<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Thundering Jaguars Django page</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        h1 {
            text-align: center;
        }

        p {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Hello, world! Wazzup!?</h1>
    <h1>Thundering Jaguars' Django!</h1>
    <p>Click <a href="http://localhost:8000/mqtt-handler">here</a> to go to the MQTT Handler page.</p>
    <p>Click <a href="http://localhost:3000/d/c951837f-2327-43b3-aaa0-3352442ede5a/thundering-jaguars?orgId=1&from=now-30m&to=now">here</a> to go to Grafana Dashboard.</p>
</body>
</html>
